body {
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  width: 400px;
  text-align: center;
  background: #1c1c1c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #000;
}

#quoteBox {
  margin-bottom: 20px;
  min-height: 120px;
}

#quote {
  font-size: 20px;
  line-height: 1.4;
  opacity: 1;
  transition: opacity .3s;
}

button {
  background: #ff4c4c;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
}

button:hover {
  background: #ff6868;
  transform: scale(1.05);
}
